<h1>Aplicação</h1>
<!-- <app-header></app-header> -->

<a [routerLink]="['pai']">Ir para componente pai</a><br>

<router-outlet></router-outlet>

<div *ngif="clientePremium; else naopremium">
  Voce é um clinete premio e tem     acesso a informações difernciadas
</div>

<ng-template #naopremium>
  Voce não é um cliente premio e não tem acesso a informações difernciadas
</ng-template>

<ul *ngfor="let valor or valores">
  <li>{{valor.id}} - {{valor.nome}} - {{valor.descricao}} </li>
</ul>

<!-- <label> Digite um nome </label>
<input [(ngModel)]="nome" />
<button (click)="adicionar()">Adicionar item</button> -->

<app-binding></app-binding>

<h1>Exepro de pipe</h1>

<p>Data: {{umadata | date}}</p>
<p>Data Longo: {{umadata | date:"long"}}</p>
<p>Currency: {{umamoeda | currency:"R$ "}}</p>
<p>Costomizado uppercase: {{nome | appUppercase}}</p>


<button (click)="sayHello()" >Diga ola pelo server</button>

